h1 {
    text-align: center;
}

form {
    width: 450px;
    margin: 0 auto;
    transition: width 0.5s;
}

.formcontrol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    font-size: 1rem;
    font-weight: bold;
}

label {
    color: blue;
}

@media(max-width:768px) {
    form {
        width: auto;
        transition: width 0.5s;
    }
}